extends layout

block content
	h1 user
	p
		a(href="/") index
	div.images
		for image in medias
			a(href="#{image.link}" target="_blank")
				img(src="#{image.images.standard_resolution.url}", width='100px')